.about__project {
    margin: 110px auto 110px;
    background: rgb(32, 32, 32);
    max-width: 1280px;
}

.about__diploma {
    display: flex;
    border-top: rgb(218, 218, 218) 1px solid;
    padding: 70px 0 0;
    max-width: 1140px;
    margin: 0 70px 0;
}

.about__steps {
    max-width: 550px;
    width: 100%;
    margin-right: 40px;
}

.about__work {
    max-width: 550px;
    width: 100%;
}

.about__title {
    max-width: 600px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -4%;
    text-align: left;
    margin: 0 70px 23px;
}

.about__description-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -4%;
    text-align: left;
    margin: 0;
}

.about__description {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin: 26px 0 0;
}

.about__graphic {
    display: flex;
    margin: 110px 70px 0;
    max-width: 1140px;
}

.about__backend {
    max-width: 228px;
    width: 100%;
}

.about__frontend {
    max-width: 912px;
    width: 100%;
}

.about__backend-title {
    color: rgb(0, 0, 0);
    background: rgb(61, 220, 132);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    padding: 9px 0;
}

.about__frontend-title {
    color: rgb(255, 255, 255);
    background: rgb(48, 48, 48);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    padding: 9px 0;
}

.about__graphic-description {
    color: rgb(139, 139, 139);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    margin: 14px 0 0;
}

@media screen and (max-width: 920px) {
    .about__project {
        margin: 90px auto;
        max-width: 668px;
    }

    .about__title {
        max-width: 600px;
        margin: 0 0 23px;
    }

    .about__diploma {
        margin: 0;
        padding: 94px 0 0;
        border-top: none;
    }

    .about__steps {
        margin: 0 30px 0 0;
    }

    .about__description {
        margin: 22px 0 0;
        font-size: 12px;
        line-height: 18px;
    }

    .about__graphic {
        margin: 93px 0 0;
    }

    .about__backend {
        max-width: 140px;
    }
}

@media screen and (max-width: 740px) {
    .about__project {
        max-width: 490px;
    }
}

@media screen and (max-width: 490px) {
    .about__project {
        margin: 70px auto 69px;
        max-width: 284px;
    }

    .about__title {
        font-size: 18px;
        line-height: 22px;
        max-width: 284px;
        margin: 0 0 28px;
    }

    .about__diploma {
        max-width: 284px;
        padding: 60px 0 0;
        margin: 0;
        flex-direction: column;
    }

    .about__steps {
        margin: 0 0 56px;
    }

    .about__description-title {
        font-size: 18px;
        line-height: 22px;
    }

    .about__description {
        font-size: 11px;
        line-height: 16px;
        margin: 16px 0 0;
    }

    .about__graphic {
        margin: 60px 0 0;
        max-width: 284px;
    }

    .about__backend {
        max-width: 100px;
    }

    .about__backend-title {
        font-size: 11px;
        line-height: 13px;
    }

    .about__frontend-title {
        font-size: 11px;
        line-height: 13px;
    }

    .about__graphic-description {
        font-size: 11px;
        line-height: 13px;
    }
}