.movies {
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
    gap: 24px;
    margin: 70px auto 0;
    border-top: rgb(66, 66, 66) solid 1px;
    padding: 80px 0 0;
}

.movies__saved {
    margin: 70px auto 247px;
}

.movies__more-container {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto 0;
}

.movies__more {
    border-radius: 6px;
    background: rgb(47, 47, 47);
    max-width: 1140px;
    margin: 60px 0 80px;
    padding: 11px 0 9px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    width: 100%;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    .movies {
        justify-items: center;
        margin: 70px 70px 0;
    }
}

@media screen and (max-width: 920px) {
    .movies {
        margin: 51px 30px 0;
        grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
        gap: 30px;
    }

    .movies__saved {
        margin: 51px 30px 170px;
    }

    .movies__more {
        margin: 80px 30px 80px;
    }
}

@media screen and (max-width: 420px) {
    .movies {
        margin: 51px 10px 0;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 14px;
    }

    .movies__saved {
        margin: 51px 10px 166px;
    }

    .movies__more {
        margin: 76px 10px 80px;
    }
}