.search-form {
    max-width: 1280px;
    margin: 0 auto 0;
}

.search-form__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background: rgb(47, 47, 47);
    max-width: 1140px;
    margin: 60px 70px 0;
}

.search-form__input {
    border-radius: 40px;
    background: rgb(47, 47, 47);
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(139, 139, 139);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    padding: 14px 0 14px 22px;
}

.search-form__submit-button {
    background: url(../../images/find-image.svg) no-repeat center;
    width: 34px;
    height: 34px;
    border: none;
    cursor: pointer;
    margin-right: 6px;
}

@media screen and (max-width: 920px) {
    .search-form__container {
        margin: 80px 30px 0;
    }
}

@media screen and (max-width: 420px) {
    .search-form__container {
        margin: 80px 14px 0;
    }

    .search-form__input {
        padding: 14px 0 14px 19px;
        width: 75%;
    }
}