.about__me {
    padding: 110px 0 100px;
    margin: 0 auto 0;
    max-width: 1280px;
}

.about__me-flex {
    display: flex;
    justify-content: space-between;
    border-top: rgb(218, 218, 218) solid 1px;
    padding: 66px 0 0;
    margin: 0 70px 0;
}

.about__me-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -4%;
    text-align: left;
    margin: 0 70px 23px;
}

.about__me-info {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
}

.about__me-name {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -4%;
    text-align: left;
    max-width: 600px;
    width: 100%;
    margin: 0;
}

.about__me-work {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 600px;
    width: 100%;
    margin: 18px 0 0;
}

.about__me-description {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 600px;
    width: 100%;
    margin: 26px 0 0;
}

.about__me-image {
    width: 270px;
    height: 327px;
}

.about__me-link {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    margin: 100px 0 0;
    text-decoration: none;
}

@media screen and (max-width: 920px) {
    .about__me {
        padding: 90px 0 91px;
        max-width: 668px;
    }

    .about__me-title {
        margin: 0 0 23px;
    }

    .about__me-flex {
        margin: 0 auto 0;
        padding: 66px 0 0;
    }

    .about__me-name {
        font-size: 40px;
        line-height: 40px;
        max-width: 348px;
    }

    .about__me-work {
        font-size: 12px;
        line-height: 18px;
        margin: 16px 0 0;
    }

    .about__me-description {
        font-size: 12px;
        line-height: 18px;
        margin: 20px 0 0;
        max-width: 364px;
    }

    .about__me-image {
        width: 255px;
        height: 307px;
    }

    .about__me-link {
        margin: 87px 0 0;
    }
}

@media screen and (max-width: 740px) {
    .about__me {
        max-width: 490px;
    }

    .about__me-image {
        width: 200px;
        height: 307px;
    }

    .about__me-description {
        max-width: 220px;
    }
}

@media screen and (max-width: 490px) {
    .about__me {
        padding: 70px 0 70px;
        margin: 0 auto 0;
        max-width: 292px;
    }

    .about__me-title {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 28px;
    }

    .about__me-flex {
        display: flex;
        padding: 60px 0 0;
        flex-direction: column-reverse;
    }

    .about__me-info {
        max-width: 292px;
        margin: 40px 0 0;
    }

    .about__me-name {
        font-size: 30px;
        line-height: 36px;
        max-width: 292px;
    }

    .about__me-work {
        font-size: 11px;
        line-height: 16px;
        max-width: 292px;
        margin: 20px 0 0;
    }

    .about__me-description {
        font-size: 11px;
        line-height: 16px;
        max-width: 292px;
        margin: 20px 0 0;
    }

    .about__me-link {
        font-size: 14px;
        line-height: 17px;
        margin: 40px 0 0;
    }

    .about__me-image {
        width: 270px;
        height: 327px;
    }
}